/*
* Third Party
*/
@import "taskbox.scss";

* {
  background: url("../img/background.png");
}

.panel-box {
  border: 1px solid #444;
  display: block;
  width: 400px;
  height: 400px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
  padding: 10px 20px;
  position: relative;
}

.controls {
  position: absolute;
  bottom: 20px;
}

.add::before {
  content: '+';
  border: 2px solid #000;
  font: 20px Impact;
  padding: 0px 6px;
  opacity: .6;
  border-radius: 5px;
}

.add:hover:before {
  background: #555;
  color: #eee;

}

.rem {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/delete.png');
  opacity: .5;
}